/*
*** Colour palette from OSL ***
OSL brand Light Green: #99cc33
OSL brand Dark Grey: #414141
OSL brand Light Grey: #e4e4e4
OSL brand mid Grey: #7b7b7b
Pale Green: #e0efc0
*/

* {
  padding: 0;
  margin: 0;
}

/* match styles to Open Science Lab */
body {
  font-family: Arial, Helvetica, sans-serif;
  /* Same colour used for background as OSL so it integrates better */
  background-color: #ffffff;
  color: #414141;
  font-size: .95em;
  line-height: 1.4em;
}



div#main-content {
  width: 540px;
  height: 1040px;
}

div#text-content {
  background-color: white;
  width: 870px;
  height: 620px;
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  border: 2px solid #7b7b7b;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}



p {
  line-height: 1.4;
  font-size: 1em;
}


/* Same style used for all interaction buttons */
button {
  background-color: #ededed;
  border: 1px solid #7b7b7b;
  border-radius: 3px;
  height: 25px;
  padding: 0 4px 0 4px;
  font-size: .87em;
}

button:disabled {
  background-color: #e4e4e4;
  color: #7b7b7b;
}

#answerButtons{
	position:absolute;
	left:10px;
	top:620px;
}
#instructions{
	position:absolute;
	left:10px;
	top:5px;
}

#horizline {
	width: 86%;
	height: 2px;
	position: absolute;
	
	left: 12%;
	border-bottom: 1px dashed #0000ff;
}

#samples {
	position: absolute;
	top: 30%;
	left: 400px;
	width:50%;
	max-width:400px;
	min-width:300px;
	
}
#sample1 {
	position:relative;
	width:100%;
	top:5%;
}
#sample2 {
	position:relative;
	width:100%;
	top:50%;
}

#chart {
	position:absolute;
	width:75%;
	max-width:400px;
	min-width:200px;	
}
#graphIm {
	position:relative;
	width:100%;
}
#agesample1_im, #agesample2_im, #ageboth_im {
	display:none;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 5px;
}



/*mobile*/
@media only screen and (max-width: 480px) {
	
	#chart {position:absolute;width:90%;height:60%;overflow:auto;}
	#samples {width:90%; left:0px; top:65%;}
}

/*tablet*/
@media only screen and (min-width:481px) and (max-width: 768px) {
	
	#chart {width:90%; left:0px;height:60%; overflow:auto;}
	#samples {width:90%; left:0px; top:65%;}
	
}

/*desktop*/
@media only screen and (min-width:769px) {
	#chart {
	position:absolute;
	width:75%;
	}
	
	#samples {
	position: absolute;
	top: 30%;
	left: 400px;
	width:50%;
	}
}

@media (max-height: 500px) {
	
	#chart {left:0px;height:400px; overflow:auto;}
}



