body{
	font-family:verdana,arial,helvetica,sans-serif;
	font-size:14px;
}

div{position:relative;display:inline-block;top:0px;left:0px;}
img{border:0; width:100%; max-width:700px;min-width:300px;}

#image1, #image2 {width:49%}

input[type=checkbox]
{
  /* bigger Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  margin-right:6px;
}

select {
	font-size:14px;
}

/*1 Column for Narrow Browser Windows and Smartphones in both orientations*/
@media only screen and (min-width: 0px) and (max-width: 768px) {
	#image1, #image2 {width:70%}
}


